* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --yellow: #f0db4f;
    --black: #131212;
    --blackGrey: #2a2828;
    --white: #f5f5f5;
    --gray: #777;
}

.dark-mode {
    --black: #2a2828;
    --white: #131212;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* 
---------------------
SELECTION & SCROLLBAR
----------------------
 */

::selection {
    background-color: var(--yellow);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
}

/* --------------------
        ASIDE
----------------------*/

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--black);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.285);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    transition: all 0.3s ease-in-out;

    .fa-chevron-left {
        color: var(--yellow);
        position: absolute;
        right: 0px;
        bottom: 61px;
        transform: translateY(-50%);
        font-size: 1.3rem;
        cursor: pointer;
        padding: 10px;
        background-color: var(--black);
        transition: all 0.3s ease-in-out;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--yellow);
    }

    .aside-collapse.chevron-rotate {
        transform: rotate(180deg);
        bottom: 81px;
    }

    /*---------------
        LOGO
    ---------------*/

    .logo {
        text-align: center;
        color: var(--white);
        padding: 20px;

        img {
            width: 70px;
        }

        h2 {
            width: 100%;
            font-size: 1.5rem;
            color: var(--yellow);
        }

        h2.logo-hide {
            display: none;
        }
    }

    /*---------------
        NAV LINKS
    ---------------*/

    .nav-links {
        padding: 20px;

        .nav-link-item {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 16px;
            font-size: 1.2rem;
            color: var(--white);
            font-weight: 500;
            cursor: pointer;
            border: 1px solid var(--white);

            &:hover,
            &:hover i,
            &:hover span {
                color: var(--black);
                border-color: var(--black);
                background-color: var(--yellow);
            }

            i {
                width: 50px;
                height: 50px;
                border-right: 1px solid var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--white);
            }

            span.span-hide {
                display: none;
            }
        }

        .nav-link-item:last-child {
            display: none;
        }

        .nav-link-item:last-child.show-link {
            display: flex;
            font-size: 1.8rem;
        }

    }

    .nav-links-collapse {
        padding: 10px;
    }

    /*---------------
        GITHUB
    ---------------*/

    footer {
        margin-top: auto;
        background: var(--white);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .dark-light-mode {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            i {
                font-size: 1.2rem;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--yellow);
                color: var(--black);
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: var(--black);
                    color: var(--white);
                }
            }

            i.fa-sun {
                display: none;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            color: var(--black);
            font-size: 1.2rem;
            font-weight: 700;
            transition: 0.3s;

            &:hover {
                opacity: 0.8;
            }

            .fa-github {
                font-size: 2rem;
            }

            
        }
    }
}

.github-hide {
    display: none;
}

aside.collapse {
    width: 70px;
}

main {
    color: var(--black);
    margin-left: 250px; /* Same as aside width */
    transition: all 0.3s ease-in-out;

    .main-titles {
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        h2 {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .about-section {
        scroll-margin-top: 70px;
    }

    .about-content {
        padding: 20px 60px;
        display: flex;
        align-items: self-start;
        justify-content: space-between;
        gap: 20px;

        .about-text {
            width: 60%;
            p {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                /* text-wrap: pretty; */
                /* flex: 1 1 50%; */
                margin-bottom: 15px;
                text-indent: 35px;

                a {
                    font-weight: 700;
                    transition: all 0.3s ease-in-out;
                    color: #c4b240;

                    &:hover {
                        color: var(--black);
                        text-decoration: underline;
                    }

                    i {
                        text-indent: 5px;
                    }
                }
            }
        }

        .about-img {
            width: 450px;
            height: auto;
            overflow: hidden;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.285));
            /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285); */
            position: sticky;
            top: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .filter {
        color: white;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        gap: 20px;
        padding: 20px;

        buttons {
            outline: 1px solid var(--yellow);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }

    .filter .filter-active {
        background-color: var(--yellow);
        color: var(--black);
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding: 20px 40px;
        margin-bottom: 100px;

        article {
            background-color: var(--white);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
            transition: all 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            border: 1px solid #f5f5f52d;
            outline: 3px solid var(--yellow);
            outline-offset: 8px;
            position: relative;

            &:hover {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.585);
            }

            .card-number {
                position: absolute;
                top: 0px;
                right: 0;
                background-color: var(--yellow);
                color: var(--black);
                padding: 5px 10px;
                font-size: 1.2rem;
                font-weight: 700;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid var(--white);
                border-bottom: 1px solid var(--white);
            }

            .card-img {
                width: 100%;
                height: 180px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;
                gap: 10px;

                h3 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .card-description {
                    font-size: 1rem;
                    font-weight: 400;
                    text-wrap: pretty;

                    code {
                        background-color: var(--yellow);
                        font-family: monospace;
                        padding: 0 5px;
                        color: var(--gray);
                    }
                }
            }

            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 15px;
                height: 60px;
                color: var(--white);
                background-color: var(--black);
                font-size: 1.2rem;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
                margin-top: auto;

                &:hover {
                    opacity: 0.8;
                }

                &:hover i {
                    transform: translateY(-5px);
                    border: 1px solid var(--white);
                    box-shadow: 0px 20px 20px rgba(240, 218, 79, 0.563);
                }

                i {
                    rotate: 45deg;
                    transition: all 0.3s ease-in-out;
                    padding: 8px;
                    border-radius: 50%;
                }
            }
        }
    }
}

main.main-collapse {
    margin-left: 70px;
}

/* Media queries */

@media only screen and (min-width: 1600px) {
    main .cards-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 1360px) {
    main .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    main .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    main .about-content {
        flex-direction: column;

        .about-text {
            width: 100%;
            margin-bottom: 20px;
        }

        .about-img {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    main .cards-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 640px) {
    aside {
        width: 100%;
        height: 70px;
        position: sticky;
        top: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            height: 100%;
            margin: 0;
            padding-left: 0;

            h2 {
                font-size: 1.1rem;
                margin: 0;
                height: 100%;
                text-align: left;
                display: flex;
                align-items: center;
            }
        }

        .nav-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0;
            margin-right: 20px;

            .nav-link-item {
                margin-bottom: 0;
                font-size: 1rem;
                gap: 0px;

                i {
                    width: 30px;
                    height: 30px;
                    border: none;
                    padding: 0;
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border: none;
                    padding: 10px;
                }
            }
        }

        .nav-links .nav-link-item:first-child {
            display: none;
        }

        footer {
            width: fit-content;
            margin-left: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            padding: 15px;

            a {
                font-size: 1rem;
            }
        }
    }

    main {
        margin-left: 0;
        margin-bottom: 70px;
    }

    .github span {
        display: none;
    }

    .fa-github {
        font-size: 1.5rem;
    }

    .fa-arrow-up-right-from-square {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 540px) {
    aside .nav-links {
        display: none;
    }

    
}

@media only screen and (max-width: 480px) {
    main .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media (prefers-color-scheme: dark) {
    main .cards-container {
        article {
            background: #2a2828;
            color: var(--white);
            border: 1px solid #f5f5f52d;
            box-shadow: none;
        }
    }
} */
