* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --aside-width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--aside-width);
    background: linear-gradient(to right, #051837, #01b7ab);
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;

    .filters {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        button {
            background: none;
            border: none;
            color: #fff;
            background-color: #01b7ab;
            font-size: 1.2rem;
            padding: 1rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: #031c1a;
            }
        }
    }
}

main {
    margin-left: var(--aside-width);
    background: linear-gradient(to bottom, #416978, #5abcf5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 400px;
        perspective: 1000px;

        .card {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transform-style: preserve-3d;
            /* backface-visibility: hidden; */
            transition: transform 0.6s;

            .front,
            .back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 3rem;
            }

            .id {
                position: absolute;
                top: 4%;
                left: 4%;
                font-size: 2rem;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
                width: 50px;
                height: 50px;
                background-color: #01b7ab;
                border-radius: 50%;
                display: flex;
                justify-content: center;align-items: center;
                border: 2px solid #fff;
            }

            .front {
                background: linear-gradient(
                    to bottom,
                    black 33.3%,
                    red 33.3%,
                    red 66.6%,
                    gold 66.6%
                );

                .id {
                    background: linear-gradient(
                    to bottom,
                    black 33.3%,
                    red 33.3%,
                    red 66.6%,
                    gold 66.6%
                );
                }
            }

            .back {
                transform: rotateY(180deg);
                background: linear-gradient(
                        transparent 40%,
                        #c8102e 40% 60%,
                        transparent 60%
                    ),
                    linear-gradient(
                        to right,
                        transparent 45%,
                        #c8102e 45% 55%,
                        transparent 55%
                    ),
                    linear-gradient(
                        transparent 35%,
                        #fff 35% 65%,
                        transparent 65%
                    ),
                    linear-gradient(
                        to right,
                        transparent 42.25%,
                        #fff 42.25% 57.75%,
                        transparent 42.25%
                    ),
                    linear-gradient(
                        25deg,
                        transparent 47.5%,
                        #c8102e 47.5% 52.5%,
                        transparent 52.5%
                    ),
                    linear-gradient(
                        -25deg,
                        transparent 47.5%,
                        #c8102e 47.5% 52.5%,
                        transparent 52.5%
                    ),
                    linear-gradient(
                        25deg,
                        transparent 45%,
                        #fff 45% 55%,
                        transparent 55%
                    ),
                    linear-gradient(
                        -25deg,
                        transparent 45%,
                        #fff 45% 55%,
                        transparent 55%
                    );
                background-color: #012169;

                .id {
                    background: linear-gradient(
                        transparent 40%,
                        #c8102e 40% 60%,
                        transparent 60%
                    ),
                    linear-gradient(
                        to right,
                        transparent 45%,
                        #c8102e 45% 55%,
                        transparent 55%
                    ),
                    linear-gradient(
                        transparent 35%,
                        #fff 35% 65%,
                        transparent 65%
                    ),
                    linear-gradient(
                        to right,
                        transparent 42.25%,
                        #fff 42.25% 57.75%,
                        transparent 42.25%
                    ),
                    linear-gradient(
                        25deg,
                        transparent 47.5%,
                        #c8102e 47.5% 52.5%,
                        transparent 52.5%
                    ),
                    linear-gradient(
                        -25deg,
                        transparent 47.5%,
                        #c8102e 47.5% 52.5%,
                        transparent 52.5%
                    ),
                    linear-gradient(
                        25deg,
                        transparent 45%,
                        #fff 45% 55%,
                        transparent 55%
                    ),
                    linear-gradient(
                        -25deg,
                        transparent 45%,
                        #fff 45% 55%,
                        transparent 55%
                    );
                background-color: #012169;
                }
            }
        }
    }

    .btn-control {
        display: flex;
        gap: 1rem;

        button {
            background: none;
            border: none;
            color: #fff;
            background-color: #01b7ab;
            font-size: 1.2rem;
            padding: 1rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: #031c1a;
            }
        }
    }
}

.flipped {
    transform: rotateY(180deg);
}
